:root {
}

.header {
    width: auto;
    font-size: 80px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Electronic%20Highway%20Sign.TTF?fileID=12800000&guid=8a2b9e2a607dd2143b58c44bc32410b4&type=3#Electronic Highway Sign");
    align-items: auto;
    align-self: center;
    align-content: auto;
    justify-content: flex-start;
    border-top-width: 0;
    padding-top: 0;
    margin-top: 100px;
}

.button {
    font-size: 40px;
    width: 250px;
    height: 90px;
    align-self: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 50px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Electronic%20Highway%20Sign.TTF?fileID=12800000&guid=8a2b9e2a607dd2143b58c44bc32410b4&type=3#Electronic Highway Sign");
    color: rgb(255, 255, 255);
    opacity: 1;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
}

.button:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    scale: 1.1 1.1;
    background-color: rgb(250, 51, 51);
}
